body {
    font-family: "DM Sans", sans-serif;
  }

:root {
  --text-color: #333333;
  --bg-color: #eee;
}

p, ul, li {
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  color: inherit;
  list-style: none;
}

.btn-reset {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  color: inherit;
}

.h2-title {
  margin-bottom: 28px;
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  color: var(--text-color);
}

/* Header */

.header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.header__logo {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.header__menu {
  margin-right: 44px;
}

.header__menu-item {
 font-size: 16px;
 font-weight: 700;
 line-height: 1.5;
 color: var(--text-color);
}

.header__btn {
  width: 170px;
  height: 48px;
  font-size: 16px;
  line-height: 1.5;   
  font-weight: 700; 
  border-radius: 3px; 
  padding: 12px 54px;
  white-space: nowrap;
}

.header__burger {
  display: none;
  font-size: 36px;
  line-height: 1;
}


/* Banner */

.banner {
  margin-bottom: 110px;
  padding-top: 344px;
  padding-bottom: 344px;
  background-color: var(--bg-color);
}

.banner__title {
  margin: 0;
  padding: 0;
  font-size: 80px;
  font-weight: 700;
  color: var(--text-color);
  line-height: 1;
}

/* About */

.about {
  margin-bottom: 140px;
}

.about__inner {
  display: flex;
  align-items: center;
  gap: 130px;
}

.about__media,
.about__content {
  width: 50%;
}

.about__tagline {
  margin-bottom: 22px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 5px;
  line-height: 1.5;
  color: var(--text-color);
}

.about__text {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

/* Values */

.values {
  margin-bottom: 160px;
}

.values__text {
  max-width: 570px;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.values__btn {
  margin-bottom: 64px;
  width: 170px;
  border-color: #dee2e6 !important;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.values__btn:first-child {
  border-radius: 7px 0 0 7px !important;
}

.values__btn:last-child {
  border-radius: 0 7px 7px 0 !important;
}

.values__btn:hover,
.values__btn:focus-visible {
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
  color: #fff !important;
}

.values__postfix__title {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;

  color: var(--text-color);
}

.values__postfix__text {
  max-width: 570px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #999;
}