body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Блок todo */
.todo {
    display: block;
}

.todo__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.todo__toolbar {
    display: flex;
    align-items: stretch;
    gap: 10px;
    margin-bottom: 8px;
}

.todo__form {
    display: flex;
    flex: 1;
}

.todo__field {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 400px;
    padding: 8px 6px;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    background-color: #fff;
}

.todo__input {
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    font-size: 16px;
}

.todo__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    min-width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    font-size: 20px;
    color: #fff;
    background-color: #76a04d;
    cursor: pointer;
}

.todo__filter {
    padding: 0 32px 0 15px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    background-color: #94bc66;
    background-image: url("../shared/select.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 14px) 50%;
    background-size: 12px 6px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.todo__filter:focus,
.todo__filter:focus-visible {
    outline: none;
}

.todo__tasks {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.todo__task {
    display: flex;
    align-items: center;
    min-height: 24px;
    padding: 6px;
    background-color: #efefef;
}

.todo__task:not(:last-child) {
    margin-bottom: 4px;
}

.todo__task-text {
    margin: 0;
    margin-right: auto;
    padding: 0;
    font-size: 12px;
}

.todo__task-actions {
    display: none;
    gap: 4px;
}

.todo__task:hover .todo__task-actions {
    display: flex;
}

.todo__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.todo__btn--del {
    background-color: rgb(254, 70, 70);
}

.todo__btn--approve {
    background-color: rgb(140, 211, 33);
}

.todo__btn--restore {
    background-color: aqua;
}

/* Модификаторы */
.todo__task--active .todo__task-text {
    color: #000;
}

.todo__task--active .todo__btn--restore {
    display: none;
}

.todo__task--completed {
    background-color: rgb(201, 232, 201);
}

.todo__task--completed .todo__task-text {
    text-decoration: line-through;
}

.todo__task--completed .todo__btn--approve {
    display: none;
}

.todo__task--deleted {
    color: #cecece;
    background-color: #eceaea;
}

.todo__task--deleted .todo__btn--approve {
    display: none;
}
